    .cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    }

    .single-cards{
    display: flex;
    flex-direction: column;
    gap: 16px;
    }

    .green-card{
        height: 600px;
    }