.App {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.single-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttomBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 480px) {
}
